@import "../../sass/colors";

.live-results-info {
    padding: 10px;

    &__text {
        line-height: 1.5;
    }

    &__link {
        font-weight: bold;
        transition: color .5s;

        &:hover {
            color: $main-color;
        }
    }
}

@media (min-width: 768px) {
    .live-results-info {
        padding: 30px;

        &__text {
            font-size: 20px;
        }
    }
}