@import "../../sass/mixins";
@import "../../sass/colors";

.password {
    &__heading {
        text-align: center;
        margin-bottom: 30px;
        color: $main-color;
    }

    &__box {
        position: relative;
        width: 100%;
        margin-bottom: 25px;
    }

    &__input {
        @include input-styling;
    }

    &__input:focus + &__label,
    &__input:valid + &__label {
        @include label-animation;
    }

    &__label {
        @include label-styling;
    }

    &__error-text {
        @include text-error-styling;
    }

    &__show-input-error {
        visibility: visible;
    }

    &__icons {
        position: absolute;
		top: 12px;
		right: 10px;
		cursor: pointer;

        .hide-password {
            display: block;
        }

        .show-password {
            display: none;
        }
    }

    &__submit-message {
        @include submit-message-styling;
        font-size: 18px;
        margin-bottom: 15px;
    }

    &__submit-message.success {
        color: #008000;
    }

    &__btn-box {
        width: 100%;
    }

    &__submit {
        @include button-styling;
        width: 100%;

        &:hover {
            background-color: $main-color-hover;
        }
    }
}

@media (min-width: 576px) {
    .password {
        &__submit {
            font-size: 20px;
        }
    }
}