@import "../../sass/colors";
@import "../../sass/animations";

.tutorial-details {
    &__header {
        position: relative;
        height: 100vh;
        padding: 10px;
    }

    &__header-heading {
        text-align: center;
        color: $main-color;
        margin-top: 70px;
        margin-bottom: 30px;
    }

    &__list {
        margin-left: 40px;
    }

    &__list-item {
        font-size: 17px;
        margin-bottom: 15px;
    }

    &__list-link {
        text-decoration: none;
        color: $main-color;
        transition: all .3s;

        &:hover {
            text-decoration: underline;
            font-weight: bold;
        }
    }

    &__bounce-icon {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
    }

    &__section {
        padding: 10px 0;
        margin: 10px 0 200px 0;

        &:last-child {
            margin: 10px 0;
        }
    }

    &__stage-box {
        margin-right: 20px;
        margin-bottom: 50px;
        padding: 30px;
        background-color: #000;
        border-bottom-right-radius: 150px;
        border-top-right-radius: 150px;
        text-align: center;
        color: #fff;
    }

    &__stage-name {
        margin-bottom: 25px;
    }

    &__stage-desc {
        font-size: 19px;
    }

    &__img {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__img-box {
        width: 300px;
        height: 300px;
    }
}

@media (min-width: 768px) {
    .tutorial-details {
        &__header-heading {
            font-size: 35px;
        }

        &__list {
            margin-left: 70px;
        }

        &__list-item {
            font-size: 25px;
        }

        &__bounce-icon {
            font-size: 40px;
        }

        &__stage-box {
            margin-right: 100px;
            padding: 30px 60px;
        }

        &__stage-name {
            font-size: 30px;
        }

        &__img-box {
            width: 600px;
            height: 600px;
        }
    }
}