@import "../../sass/mixins";
@import "../../sass/colors";

.contests-dashboard {
    width: 100%;
    min-height: 100vh;
    padding: 80px 15px 0 15px;

    &__heading {
        margin-bottom: 20px;
    }


    &__btn {
        @include button-styling;

        &:hover {
            background-color: $main-color-hover;
        }
    }

    &__main-buttons {
        position: relative;
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    &__btn-change-view {
        @include buttonToChangeView;

        &:hover {
            background-color: #ddd;
        }
    }

    &__marker {
        @include marker;
    }
}

@media (min-width: 576px) {
    .contests-dashboard {
        padding: 80px 25px 0 25px;

        &__heading {
            font-size: 40px;
        }

        &__btn {
            font-size: 20px;
        }

        &__main-buttons {
            justify-content: flex-start;
        }

        &__btn-change-view {
            font-size: 18px;
        }
    }
}