$main-color: #f46036;
$secondary-color: #414770;
$main-color-hover: #cb380f;
$dark-mode-color: #372248;
$timer-background-color: #e5e1e1;
$timer-background-color-hover: #c6bdbd;
$delete-color: #c70000;
$delete-color-hover: #ef1111;
$select-color: #7a7474;
$select-border-color: #d0c9c9;