@import './colors';

.confirm-time-action{
    position: fixed;
    display: none;
    flex-direction: column;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    min-height: 200px;
    padding: 10px 10px;
    background-color: #fff;
    color: $main-color;
    text-align: center;
    z-index: 6;

    &__title, &__second-title {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 600;
    }

    &__main-buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
        width: 100%;
        margin-bottom: 30px;

        button {
            background-color: $main-color;
            color: #fff;
            font-size: 17px;
            padding: 5px 10px;
            border-radius: 8px;
            border: none;
            cursor: pointer;
            transition: background-color .3s;

            &:hover {
                background-color: $main-color-hover;
            }
        }
    }

    &__buttons{
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 50px;
        margin-bottom: 5px;

        button{
            width: 25%;
            border: none;
            background-color: $main-color;
            color: #fff;
            font-size: 20px;
            padding: 5px 10px;
            cursor: pointer;
            // margin-right: 20px;
            transition: background-color .3s;

            &:hover{
                background-color: $main-color-hover;
            }
        }
    }
}

.confirm-time-action.active{
    display: flex;
}

@media (min-width: 576px){
    .confirm-time-action{
        width: 450px;

        &__title, &__second-title {
            font-size: 25px;
        }
    }
}

#dark {
    .confirm-time-action {
        background-color: $dark-mode-color;
    }
}