@import './colors';
@import './mixins';

.edit{
    position: fixed;
    opacity: 0;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    min-width: 300px;

    &__form{
        position: relative;
    }

    &__heading {
		text-align: center;
		color: $main-color;
		margin-bottom: 30px;
		font-size: 30px;
	}

    &__form-box {
        position: relative;

        textarea {
			@include input-styling;
			max-width: 100%;
			min-width: 100%;
			min-height: 150px;
			max-height: 150px;
			font-size: 15px;
		}

		textarea:focus + label,
		textarea:valid + label {
			@include label-animation;
		}

		label {
			@include label-styling;
		}
    }

    &__btn-box{
        display: flex;
		justify-content: center;
		margin-bottom: 15px;
        margin-top: 15px;
    }

    &__submit {
		border: none;
		background-color: $main-color;
		color: #fff;
		padding: 15px 20px;
		border-radius: 8px;
		width: 100%;
		font-size: 20px;
		transition: background-color 0.3s;
		cursor: pointer;

		&:hover {
			background-color: #cb380f;
		}
	}

    &__text-error{
        @include text-error-styling;
    }

    &__close{
        position: absolute;
        right: -5px;
        top: -5px;
        cursor: pointer;
    }
}

.edit.active{
    transition: opacity 1s;
    opacity: 1;
    z-index: 10;
}

@media (min-width: 576px){
    .edit{
        min-width: 400px;
    }
}

#dark {
    .edit {
        background-color: $dark-mode-color;

        &__form-box {
            textarea {
                @include input-styling-dark;
            }

            textarea:focus + label,
		    textarea:valid + label {
                @include label-animation-dark;
            }

            label {
                @include label-styling-dark;
            }
        }

        input:is(input[type="file"]) {
            color: #fff;
        }
    }
}