@import "./mixins";
@import "./colors";

.edit-account {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	&__container {
		width: 300px;
		min-height: 560px;
		box-shadow: 10px 10px 10px #909090;
		border: 1px solid #909090;
		border-radius: 8px;
		padding: 20px;
		margin-top: 60px;
	}

	&__change-img {
		color: $main-color;
		margin-bottom: 15px;
		font-size: 20px;
		font-weight: bold;
	}

	&__main-buttons {
		position: relative;
		display: flex;
		justify-content: center;
		gap: 10px;
		width: 100%;
		margin-bottom: 15px;

		button {
			border: none;
			background: none;
			text-transform: uppercase;
			font-size: 15px;
			padding: 5px;
			cursor: pointer;
			transition: background-color .3s;

			&:hover {
				background-color: #ddd;
			}
		}
	}

	&__marker {
		position: absolute;
		content: '';
		left: 20px;
		bottom: -8px;
		width: 100px;
		height: 3px;
		background-color: $main-color;
		transition: all 0.3s;
	}

	&__img-box {
		display: flex;
		align-items: center;
		width: 100%;
		margin-bottom: 20px;

		img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			object-fit: cover;
            margin-right: 10px;
		}
	}

	&__box {
		position: relative;
		width: 100%;
		margin-bottom: 20px;

		input {
			@include input-styling;
		}

		input:focus + label,
		input:valid + label {
			@include label-animation;
		}

		label {
			@include label-styling;
		}
	}

	&__text-error {
		@include text-error-styling;
	}

	&__submit-btn {
		width: 100%;
		margin-bottom: 10px;

		button {
			@include button;
			padding: 15px 20px;
			font-size: 20px;

			&:hover {
				background-color: $main-color-hover;
			}
		}
	}

	&__submit-message {
		@include submit-message-styling;
		font-size: 22px;
	}

	&__submit-message.success {
		color: #008000;
	}
}

@media (min-width: 768px){
	.edit-account {
		&__container {
			width: 500px;
		}

		&__marker {
			left: 120px;
		}

		&__img-box {
			img {
				width: 80px;
				height: 80px;
			}
		}
	}
}

#dark {
	.edit-account {
		background-color: $dark-mode-color;

		&__container {
			border: 1px solid $main-color;
			box-shadow: none;
		}

		&__box {
			input {
				@include input-styling-dark;
			}
	
			input:focus + label,
			input:valid + label {
				@include label-animation-dark;
			}
	
			label {
				@include label-styling-dark;
			}
		}

		&__img-box {
			input:is(input[type="file"]) {
				color: #fff;
			}
		}

		&__main-buttons {
			button {
				color: #fff;

				&:hover {
					background-color: #603782;
				}
			}
		}
	}
}
