@import "./colors";
@import './mixins';

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #fff;
    padding: 0 15px;

    &__logo{
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 20px;
    }

    &__elements{
        display: flex;
    }

    &__link{
        position: relative;
        margin-right: 10px;
        font-size: 16px;
        color: $main-color;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        
        &::after{
            @include link-style;
        }

        &:hover::after{
            @include link-style-hover;
        }
    }
}

@media (min-width: 576px){
    .navbar{
        &__logo, &__link{
            margin-right: 40px;
        }
    }
}