@import './colors';

.post{
    // width: 300px;
    // min-height: 500px;
    width: 30%;
    height: 100px;
    margin-bottom: 20px;
    z-index: -5;

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;
        padding: 0 10px;
        font-size: 18px;
        font-weight: bold;
        background-color: #eee;
    }

    &__img{
        object-fit: cover;
        // height: 300px;
        // width: 300px;
        width: 100%;
        height: 100%;
    }

    &__msg{
        margin: 20px 10px;
        font-size: 17px;
        font-weight: bold;
    }

    &__tags{
        margin: 20px 10px;
        font-size: 17px;
        color: $main-color;
    }

    &__buttons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px;
        background-color: #eee;
    }

    &__icons{
        cursor: pointer;
    }

    &__button-box{
        display: flex;
        align-items: center;
    }

    &__likes-count{
        margin: 10px 10px;
        font-weight: bold;
    }
}

@media (min-width: 576px){
    .post{
        height: 200px;
    }
}

// @media (min-width: 768px){
//     .post{
//         height: 250px;
//     }
// }