@import "./mixins";
@import "./colors";

.profiles{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__shadow {
		display: none;
	}

	&__shadow-active {
		@include shadow;
	}
}

#dark {
  .profiles {
    background-color: $dark-mode-color;
  }
}