@import "../../sass/colors";
@import "../../sass/mixins";

.search-mobile{
    display: flex;
    align-items: center;
    width: clamp(180px, 500px, 600px);
    margin-right: 10px;

    input{
        width: 90%;
        padding: 10px 20px;
        border-radius: 20px 0 0 20px;
        border: none;

        &:focus{
            outline: none;
            border: 1px solid $main-color;
        }
    }

    button{
        @include searchButton;
    }
}

@media (min-width: 768px){
    .search-mobile{
        display: none;
    }
}