@import "../../sass/colors";
@import "../../sass/mixins";

.reset-password {
    display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #fff;

    &__form {
		width: 500px;
		min-height: 200px;
		border: 1px solid #909090;
		border-radius: 8px;
		box-shadow: 10px 10px 10px #909090;
		background-color: #fff;
		padding: 20px;
	}

    &__heading {
		text-align: center;
		color: $main-color;
		margin-bottom: 30px;
		font-size: 30px;
	}

    &__box {
		position: relative;
		width: 100%;
		margin-bottom: 25px;

		input {
			@include input-styling;
		}

		input:focus + label,
		input:valid + label {
			@include label-animation;
		}

		label {
			@include label-styling;
		}
	}

    &__btn-box {
		display: flex;
		justify-content: center;
		margin-bottom: 15px;
	}

    &__submit-btn {
		@include button;
		padding: 15px 20px;
		font-size: 20px;

		&:hover {
			background-color: $main-color-hover;
		}
	}

    &__submit-message {
		@include submit-message-styling;
		margin-bottom: 15px;
	}

    &__submit-message--success {
        color: #008800;
    }

    &__text-error {
		@include text-error-styling;
	}

    &__show-text-error {
		visibility: visible;
	}
}