@import "../../sass/colors";

.delete-confirm{
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    height: 200px;
    padding: 0 10px;
    background-color: #fff;
    color: $main-color;
    text-align: center;
    z-index: 5;

    &__title{
        font-size: 20px;
    }

    &__buttons{
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 50px;

        button{
            width: 25%;
            border: none;
            background-color: $main-color;
            color: #fff;
            font-size: 20px;
            padding: 5px 10px;
            cursor: pointer;
            // margin-right: 20px;
            transition: background-color .3s;

            &:hover{
                background-color: $main-color-hover;
            }
        }
    }
}

.delete-confirm.active{
    display: flex;
}

@media (min-width: 576px){
    .delete-confirm{
        &__title{
            font-size: 25px;
        }
    }
}