.content{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.shadow{
    display: none;
}

.shadow-active{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}