* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: #fff;
}
.login__form {
  width: 300px;
  min-height: 400px;
  margin-top: 90px;
  border: 1px solid #909090;
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 10px #909090;
          box-shadow: 10px 10px 10px #909090;
  background-color: #fff;
  padding: 20px;
}
.login__heading {
  text-align: center;
  color: #f46036;
  margin-bottom: 30px;
  font-size: 30px;
}
.login__box {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}
.login__box input {
  width: 100%;
  border: 1px solid #f46036;
  outline: none;
  padding: 15px 20px;
  margin-bottom: 10px;
}
.login__box input:focus + label,
.login__box input:valid + label {
  -webkit-transform: translate(-5px, -25px);
          transform: translate(-5px, -25px);
  color: #f46036;
  background-color: #fff;
}
.login__box label {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.login__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}
.login__submit {
  border: none;
  background-color: #f46036;
  color: #fff;
  padding: 15px 20px;
  border-radius: 8px;
  width: 100%;
  font-size: 20px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}
.login__submit:hover {
  background-color: #cb380f;
}
.login__submit-message {
  text-align: center;
  color: #ff0000;
  margin-bottom: 15px;
  font-weight: bold;
}
.login__info-box {
  width: 100%;
  text-align: center;
}
.login__info {
  display: inline-block;
  margin-right: 10px;
}
.login__link {
  position: relative;
  text-decoration: none;
  color: #f46036;
}
.login__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 3px;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  background-color: #f46036;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.login__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}
.login__text-error {
  color: #ff0000;
  font-weight: bold;
  visibility: hidden;
  margin-left: 20px;
}
.login__password-icons {
  position: absolute;
  top: 12px;
  right: 10px;
  cursor: pointer;
}
.login__password-icons .show-password {
  display: none;
}
.login__password-icons .hide-password {
  display: block;
}

@media (min-width: 576px) {
  .login__form {
    width: 500px;
    margin-top: 0;
  }
  .login__info, .login__link, .login__submit-message {
    font-size: 20px;
  }
  .login__text-error {
    font-size: 15px;
  }
}/*# sourceMappingURL=login.css.map */