body {
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 10px;
  background-color: #414770;
  z-index: 10;
}
.navbar__logo {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}
.navbar__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.navbar__burger:hover {
  background-color: #f46036;
}
.navbar__burger-icon {
  color: #fff;
  cursor: pointer;
}
.navbar__items {
  display: none;
}
.navbar__items--hide {
  display: none;
}
.navbar__item {
  display: inline-block;
  margin-right: 20px;
  font-size: 23px;
}
.navbar__item:last-child {
  margin-right: 5px;
}
.navbar__link {
  position: relative;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.navbar__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 3px;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  background-color: #f46036;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.navbar__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.active {
  color: #f46036;
}

.search-input {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
}
.search-input input {
  width: 90%;
  padding: 10px 20px;
  border-radius: 20px 0 0 20px;
  border: none;
  margin-left: 10px;
}
.search-input input:focus {
  outline: none;
  border: 1px solid #f46036;
}
.search-input button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 36px;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  border: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.search-input button:hover {
  background-color: #b3aaaa;
}
.search-input .search-icon {
  color: #fff;
  cursor: pointer;
}

.search-icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.search-icon-box:hover {
  background-color: #f46036;
}

.sidebar {
  position: fixed;
  top: 60px;
  left: -100%;
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 60px);
  background-color: #414770;
  padding: 10px 0;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
  z-index: 10;
}
.sidebar__close-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  color: #fff;
  padding-right: 10px;
}
.sidebar__close-icon {
  cursor: pointer;
}
.sidebar__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 25px;
}
.sidebar__items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 220px;
  color: #fff;
  border-radius: 8px;
  font-size: 25px;
  cursor: pointer;
}
.sidebar__items::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 3px;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  background-color: #f46036;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.sidebar__items:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.sidebar.active {
  left: 0;
}

.more-options {
  opacity: 0;
  position: absolute;
  top: 70px;
  right: 100px;
  border-radius: 5px;
  background-color: #414770;
  min-width: 200px;
  padding: 10px 20px;
  z-index: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.more-options__item {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}
.more-options__item:last-child {
  margin-bottom: 5px;
}
.more-options__item::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 3px;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  background-color: #f46036;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.more-options__item:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}
.more-options__text {
  color: #fff;
  font-size: 23px;
}

.more-options.active {
  opacity: 1;
  z-index: 10;
}

@media (min-width: 576px) {
  .navbar {
    padding: 0 20px;
  }
  .sidebar {
    width: 250px;
  }
}
@media (min-width: 768px) {
  .navbar__burger {
    display: none;
  }
  .navbar__items {
    display: block;
  }
  .search-input.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}/*# sourceMappingURL=navbar.css.map */