.posts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 70px;
    /* width: 100%; */
}

@media (min-width: 576px){
    .posts{
        justify-content: space-between;
        width: 75%;
    }
}

/* @media (min-width: 768px){
    .posts{
        width: 70%;
    }
} */