.posts{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 15px;
    width: 100%;
    height: 100px;
}

@media (min-width: 576px){
    .posts{
        width: 60%;
    }
}