@import "../../sass/mixins";

.contest-details {
	min-height: 100vh;
	padding: 80px 10px 10px 10px;
	z-index: 0;

	&__box {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
	}

	&__box-item {
		width: 100%;
		text-align: center;
		padding: 10px;
	}

	&__title {
		margin-bottom: 15px;
		font-size: 20px;
	}

	&__text {
		font-size: 17px;
		color: #808080;
		font-weight: 600;
	}

	&__change-view-btns {
		position: relative;
		width: 100%;
		display: flex;
		gap: 10px;
		margin-top: 30px;
		overflow-x: auto;
	}

	&__change-view-btn {
		@include buttonToChangeView;
		font-size: 15px;
		white-space: nowrap;

		&:hover {
            background-color: #ddd;
        }
	}

	&__section-error {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__error-message {
		font-size: 18px;
	}
}

@media (min-width: 576px) {
	.contest-details {
		&__change-view-btns {
			justify-content: center;
			overflow: visible;
		}

		&__change-view-btn {
			font-size: 17px;
		}
	}
}

@media (min-width: 768px) {
	.contest-details {
		&__box {
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
            flex-wrap: wrap;
		}

        &__box-item {
            width: 45%;
        }

        &__title {
            font-size: 25px;
        }

        &__text {
            font-size: 20px;
        }
	}
}
