.contest-details {
	min-height: 100vh;
	padding: 80px 10px 10px 10px;

	&__box {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
	}

	&__box-item {
		width: 100%;
		text-align: center;
		padding: 10px;
	}

	&__title {
		margin-bottom: 15px;
		font-size: 20px;
	}

	&__text {
		font-size: 17px;
		color: #808080;
		font-weight: 600;
	}
}

@media (min-width: 768px) {
	.contest-details {
		&__box {
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
            flex-wrap: wrap;
		}

        &__box-item {
            width: 45%;
        }

        &__title {
            font-size: 25px;
        }

        &__text {
            font-size: 20px;
        }
	}
}
