@import "../../sass/colors";
@import "../../sass/mixins";

.more-create-options {
    opacity: 0;
	position: fixed;
	top: 70px;
	right: 100px;
	border-radius: 5px;
	background-color: $secondary-color;
	min-width: 150px;
	padding: 10px 20px;
	z-index: -5;
	transition: opacity .3s;

	&__item {
		position: relative;
		margin-bottom: 10px;
		cursor: pointer;
		width: max-content;

		&:last-child {
			margin-bottom: 5px;
		}

		&::after {
			@include link-style;
		}

		&:hover::after {
			@include link-style-hover;
		}
	}

	&__text {
		color: #fff;
		font-size: 20px;
	}
}

.more-create-options.active {
    opacity: 1;
	z-index: 10;
}